@model CampMadLib
@{
    ViewData["Title"] = "Generate Mad Lib";
}

<div class="row">
    <div class="text-center">
        <h2 class="display-4">Summer Camp Days</h2>
    </div>
</div>
<br>

<div class="row">
    <p>Story from <a href="https://www.printablee.com/post_camping-mad-libs-printable_153008/">https://www.printablee.com/post_camping-mad-libs-printable_153008/</a></p>
</div>

@if (Model != null)
{
    <div class="row">
        <p>Dear <span>@Model.Name</span>,</p>
    </div>

    <div class="row">
        <p>Here I am at Camp <span>@Model.CampName</span>!</p>
    </div>

    <div class="row">
        <p>I am having a <span>@Model.Adjective1</span> time.</p>
    </div>

    <div class="row">
        <p>So far I have gone <span>@Model.Activity1</span> and <span>@Model.Activity2</span>.</p>
    </div>

    <div class="row">
        <p>My favorite thing about camp is <span>@Model.PluralNoun</span>.</p>
    </div>

    <div class="row">
        <p>They are so <span>@Model.Adjective2</span>!</p>
    </div>

    <div class="row">
        <p>I miss <span>@Model.Noun</span> though.</p>
    </div>

    <div class="row">
        <p>See you soon!</p>
    </div>

    <div class="row">
        <p>Love,</p>
    </div>

    <div class="row">
        <p><span>@Model.NickName</span></p>
    </div>
}